body {


background: #24C6DC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;

}

input {
  font-size: 22px;
}

.container {
  background: #fff;
  box-shadow: 1px 1px 30px 1px rgba(50,50,50,0.75);
  padding-bottom: 100px;

}

h1 {
  background: #fff;
  padding: 20px;
  margin:  0px 0 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 50px;
  font-family: 'Bungee Inline';
  border-top: 8px solid #000;
  -webkit-box-shadow: 0px 2px 25px -6px rgba(148,148,148,0.51);
-moz-box-shadow: 0px 2px 25px -6px rgba(148,148,148,0.51);
box-shadow: 0px 2px 25px -6px rgba(148,148,148,0.51);
}

p, li {
  line-height: 1.8em;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {

}



td, th {
  padding: 15px 30px;
  text-align: left;
  font-size: 18px;
}

td {
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 20px;
  padding-bottom: 15px;
}

table {
  border-collapse: collapse;
  padding: 0 20px;
  margin: auto;
  width: calc(100% - 40px);
}


tbody tr:nth-child(odd) {
   background-color: #f9f9f9;
}

form {
  background: #eee;
  margin: 20px;
  padding: 20px;
}

.stats strong {
  text-transform: uppercase;
}
